<div class="d-flex justify-content-center mt-3">
  <div class="btn-group w-40" role="group">
    <button type="button" class="btn btn-primary flex-fill mx-2 rounded" @onclick="OnButton1">@Button1Text</button>
    <button type="button" class="btn btn-primary flex-fill mx-2 rounded" @onclick="OnButton2">@Button2Text</button>
  </div>
</div>

@code {
  [Parameter] public string Button1Text { get; set; } = "Button 1";
  [Parameter] public string Button2Text { get; set; } = "Button 2";
  [Parameter] public EventCallback OnButton1 { get; set; }
  [Parameter] public EventCallback OnButton2 { get; set; }
}

