<div class="d-flex justify-content-center mt-3">
  <div class="btn-group w-100" role="group">
    <button type="submit" class="btn btn-primary flex-fill mx-1" @onclick="() => OnSubmit.InvokeAsync()">Senden</button>
    <button type="button" class="btn btn-secondary flex-fill mx-1" @onclick="() => OnLeave.InvokeAsync()">Zurück</button>
    <button type="button" class="btn btn-danger flex-fill mx-1" @onclick="() => OnCancel.InvokeAsync()">Abbrechen</button>
  </div>
</div>

@code {
  [Parameter] public EventCallback OnSubmit { get; set; }
  [Parameter] public EventCallback OnLeave { get; set; }
  [Parameter] public EventCallback OnCancel { get; set; }
}

